<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="col-md-12">
    <div class="card">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Details Data Inventory</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Code Asset</label>
                      <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="code_aset">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">PIC</label>
                      <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="pic">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Department</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="departemen">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Computer Name</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="nama_komputer">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">Merk</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="nama_merk">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">Series</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="nama_series">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">Category</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="nama_kategori">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">Processor</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="nama_prosesor">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">RAM</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="nama_ram">
                    </div>
                  </div>
                <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">Storage</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="nama_storage">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">Location</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="nama_lokasi">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">IP DHCP</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="ip_dhcp">
                  </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">IP Static</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="ip_static">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">Mac Addres</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="mac_addres">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">Serial Number</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="serial_number">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">Serial Key Windows</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="serial_key_windows">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">Cost</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="cost">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">Vendor</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="vendor">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="formgroup">
                        <label class="form-control-label" for="input-last-name">Date of Purchase</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="tgl_beli">
                    </div>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>